<%- include html.ejs %>
<body>
    <%- include header.ejs %>

    <!-- div class="row">
        <div class="col-lg-12">
            <h1>Dashboard</h1>
            <div class="alert alert-dismissable alert-warning">
                <button data-dismiss="alert" class="close" type="button">&times;</button>
                Welcome to the admin dashboard!
            </div>
        </div>
    </div -->

    <%- include house.ejs %>

    <%- include footer.ejs %>
</body>
</html>
